<div class="row row-eq-height">
  <div class="col-md-12 widget">
    <div class="widget-wrapper map">
      <app-map></app-map>
    </div>
  </div>
</div>
<p-dialog [(visible)]="display" modal="modal" width="600" height="400" [responsive]="true">
  <p-header closable="true">
  </p-header>
  <div class="container">
    <div class="form-group">
      <label for="health1"> Health Config 1</label>
      <p-dropdown [options]="tenant_items_all"  class="form-control"  id="selectedItem1"  width="100" [autoWidth]="true" [(ngModel)]="selectedItem1">
      </p-dropdown>
    </div>

    <div class="form-group">
      <label for="health2"> Health Config 2</label>
      <p-dropdown [options]="tenant_items_all"  class="form-control"  id="selectedItem2" width="100" [autoWidth]="true" [(ngModel)]="selectedItem2">
      </p-dropdown>
    </div>

    <div class="form-group">
      <label for="health3"> Health Config 3</label>
      <p-dropdown [options]="tenant_items_all"   class="form-control"  id="selectedItem3"  width="100" [autoWidth]="true" [(ngModel)]="selectedItem3">
      </p-dropdown>
    </div>
  </div>
  <p-footer>
    <div class="col-md-12">
      <button (click) = "onSubmit()" pButton type="submit" class="form-control" label="Submit"></button>
    </div>
  </p-footer>

</p-dialog>
<div class="row row-eq-height">

  <div class="col-md-12 widget">
    <div class="widget-wrapper">

      <div class="row">
        <div class="col-md-11">
        </div>
        <div class="col-md-1">
          <i class="fa fa-gear" style="font-size:24px" (click)="confirm()"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" align="center" *ngFor="let item of WidgetStats">
          <div class="service-mix-widget">
            <div class="small-graph">
              <p-chart type="line" height="200" [options]="sgopt"></p-chart>
              <strong style="float:left;text-transform: capitalize;">{{item.name}}</strong>
            </div>
            <div [className]="item.class_name">
              <span></span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
            <div></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-eq-height">
  <div class="col-md-12 widget">
    <div class="widget-wrapper">
      <p-chart type="line" [data]="alert_trend?.alert_trend" height="100"></p-chart>
    </div>
  </div>
</div>