.widget{
    .widget-wrapper{
        &.map{
            padding: 0;
            background: #000;
        }
    }
}

.service-mix-widget{
    position: relative;
    width: 200px;

    .small-graph{
        width: 100px;
        position: absolute;
        left: 48px;
        top: 60px;
    }
}