<link href="../../assets/css/style.css" rel="stylesheet">

<header class="app-header navbar">

  <a class="navbar-brand" href="#"></a>

  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>

  </ul>
  <ul class="nav navbar-nav ml-auto">

    <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
    <li class="nav-item hidden-md-down">
      <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
    </li>


  </ul>

</header>
