<app-header></app-header>
<div>
  <div class="custom-brand-header" [ngStyle]="{'background-image': 'url(' + bannerimage + ')'}">
    <div class="cust-logo">
      <img style="max-width: 150px" bind-src="logo_image" alt="">
    </div>
    <div class="head-alerts pullright">
      <ul>
        <li style="background-color: rgb(235, 171, 35)">
          <div class="count">{{alert_counts.severity_stats.warning}}</div>
          <div class="label">Warning<br/>Alerts</div>
        </li>
        <li>
          <div class="count">{{alert_counts.severity_stats.critical}}</div>
          <div class="label">Critical<br/>Alerts</div>
        </li>
      </ul>
    </div>
  </div>
   <app-leftnav></app-leftnav> 
  <main class="main">
    <div class="container-fluid" style="padding-top: 160px">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>