<app-header></app-header>
<div>
  <div class="custom-brand-header" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
    <div class="cust-logo">
      <img src={{imgURL}} alt="Scholastic">
    </div>
    <div class="head-alerts pullright">
      <ul>
        <li>
          <div class="count">0</div>
          <div class="label">Business<br/>Alerts</div>
        </li>
        <li>
          <div class="count">2</div>
          <div class="label">Technical<br/>Alerts</div>
        </li>
      </ul>
    </div>
  </div>
   <app-leftnav></app-leftnav> 
  <main class="main">
    <div class="container-fluid" style="padding-top: 160px">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>