<link href="./assets/css/font-awesome.min.css" rel="stylesheet">
<link href="./assets/css/simple-line-icons.css" rel="stylesheet">

<!-- Main styles for this application -->
<link href="./assets/css/style.css" rel="stylesheet">

<div class="row">
  <div class="col-sm-6 col-md-2">
    <div class="card card-inverse card-info">
      <div class="card-block">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-pie-chart"></i>
        </div>
        <div class="h4 mb-0">349</div>
        <small class="text-muted text-uppercase font-weight-bold">Total Tickets</small>
        <div class="progress progress-white progress-xs mt-3">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2">
    <div class="card card-inverse card-success">
      <div class="card-block">
        <div class="h1 text-muted text-right mb-4">
          <i class="fa-hourglass-start"></i>
        </div>
        <div class="h4 mb-0">88</div>
        <small class="text-muted text-uppercase font-weight-bold">Open Tickets</small>
        <div class="progress progress-white progress-xs mt-3">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2">
    <div class="card card-inverse card-warning">
      <div class="card-block">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-pie-chart"></i>
        </div>
        <div class="h4 mb-0">261</div>
        <small class="text-muted text-uppercase font-weight-bold">Closed Tickets</small>
        <div class="progress progress-white progress-xs mt-3">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2">
    <div class="card card-inverse card-primary">
      <div class="card-block">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-pie-chart"></i>
        </div>
        <div class="h4 mb-0">0</div>
        <small class="text-muted text-uppercase font-weight-bold">About to miss SLA</small>
        <div class="progress progress-white progress-xs mt-3">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2">
    <div class="card card-inverse card-danger">
      <div class="card-block">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-pie-chart"></i>
        </div>
        <div class="h4 mb-0">0</div>
        <small class="text-muted text-uppercase font-weight-bold">Missed SLA</small>
        <div class="progress progress-white progress-xs mt-3">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-2">
    <div class="card card-inverse card-secondary">
      <div class="card-block">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-pie-chart"></i>
        </div>
        <div class="h4 mb-0">10</div>
        <small class="text-muted text-uppercase font-weight-bold">Count of Tickets</small>
        <div class="progress progress-white progress-xs mt-3">
        </div>
      </div>
    </div>
  </div>
</div>
