
@import '../../../scss/xops.mixins';
@include alert-status('.red', #f84502);
@include alert-status('.green', #94ce19);
@include alert-status('.amber', #fac710);
.row.box-wrap{
  margin: 0;

  div{
    padding: 5px;
  }
}

.truncate {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
