<div class="wrapper">
  <div class="container" style="background-color:white">
    <div class="ui-g" style=" border-bottom: 1px solid rgb(199, 198, 198);">
      <div class="ui-g-12">
        <h3 style="float: left">Dashboard Links</h3>
        <br>
      </div>
    </div>
    <form (ngSubmit)="submitKibanaDashboards(heroFormUpdate)" #heroFormUpdate="ngForm">
      <div class="ui-g">
        <div *ngFor="let round of dashboards; let i = index" class="ui-g-12">
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            Dashboard Name
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-9">
            <input pInputText type="text" [(ngModel)]="qtd[round]" name="dashboardname" #dashboardname{{i}}="ngModel" />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            Active
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-9">
            <p-checkbox [(ngModel)]="selectedState" name="selectedstate" binary="true"></p-checkbox>
          </div>
        </div>
      </div>
      <div class="ui-g">
        <div *ngFor="let round of links; let i = index" class="ui-g-12">
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            Link Name
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input pInputText type="text" [(ngModel)]="qtd2[round]" name="linkname{{i}}" #linkname{i}}="ngModel" />
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
            Link Href
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <textarea pInputTextarea [(ngModel)]="qtd3[round]" name="linkhref{{i}}" #linkhref{i}}="ngModel"></textarea>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            Permission
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <p-multiSelect [options]="authorizedOpt" [(ngModel)]="authorizedSet" authorizedset="ngModel" name="authorizedset"></p-multiSelect>
          </div>

        </div>
        <div class="ui-g-12">
          <button type="submit" class="btn btn-success btn-sm" [disabled]="!heroFormUpdate.form.valid">Submit</button>
          <input type="button" class="btn btn-info btn-sm" (click)="addLink()" value="AddLink" />
          <input type="button" class="btn btn-danger btn-sm" (click)="removeLink()" value="RemoveLink" />
        </div>
      </div>

    </form>
  </div>
  <br/>
  <br/>
  <div class="container" style="background-color:white">
    <div class="ui-g" style=" border-bottom: 1px solid rgb(199, 198, 198);">
      <div class="ui-g-12">
        <h3 style="float: left">Update Dashboard Links</h3>
        <br>
      </div>
    </div>
    <form (ngSubmit)="updateKibanaDashboards(updateFormUpdate)" #updateFormUpdate="ngForm">
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            Existing Dashboards
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-9">
            <p-dropdown [options]="dNamesDropDown" [autoWidth]="false" [(ngModel)]="upExistingDashboards" name="upextdashboards" #upextdashboards="ngModel"
              (onChange)="onChange($event)"> </p-dropdown>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-9 ui-lg-3">
            Change Dashboard Name
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-9">
            <input pInputText type="text" [(ngModel)]="upDashboardName" name="updashboardname" #updashboardname="ngModel" />
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-9 ui-lg-3">
            Active / Inactive
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-9">
            <p-checkbox name="upselectedstate" value="val2" [(ngModel)]="upselectedState" binary=true></p-checkbox>
          </div>
        </div>
      </div>

      <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

      <div class="ui-g">
        <div *ngFor="let dlink of dashboardlinks; let i = index" class="ui-g-12">
          <div class="ui-g-12 ui-md-9 ui-lg-3">
            Change Link Name
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-3">
            <input pInputText type="text" [(ngModel)]="dlink.name" name="uplinkname{{i}}" #linkname="ngModel" />
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-3">
            Change Link Href
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-3">
            <input pInputText type="text" [(ngModel)]="dlink.href" name="uplinkhref{{i}}" #linkhref="ngModel" />
          </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              Update Permission
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <p-multiSelect [options]="upauthorizedOpt" [(ngModel)]="upauthorizedSet" upauthorizedset="ngModel" name="upauthorizedset"></p-multiSelect>
            </div>
  
          </div>
        <input type="hidden" [(ngModel)]="linkCount" name="linkcount" #linkcount="ngModel">
        <div class="ui-g-12">
          <button type="submit" class="btn btn-success btn-sm" [disabled]="!updateFormUpdate.form.valid">Update</button>
          <input type="button" class="btn btn-info btn-sm" (click)="upaddLink()" value="Add Link" />
          <input type="button" class="btn btn-warning btn-sm" (click)="upremoveLink()" value="Remove Link" />
          <input type="button" class="btn btn-danger btn-sm" (click)="deleteDashboard(updateFormUpdate.form)" value="Delete Dashboard"
          />
        </div>
      </div>


    </form>
  </div>
</div>