 <div class="wrapper">
  <div class="container" style="background-color: white">
    <form [formGroup]="createUserTypeForm" (ngSubmit)="createNewTenant(createUserTypeForm.value)">
      <div style="background-color: white" align="center" >
        <div style="background-color: white" >
          <br>
          <h1 >Create User Types</h1>
          <br>
          <br>
            <table>

              <tr>
                <td colspan="2" style="text-align: center">
                  <b style="font-family: Courier New;font-size:15px">Name</b>
                </td>
                <td colspan="2" style="height:60px;">
       <p-autoComplete [(ngModel)]="brand" [suggestions]="filteredBrands" (completeMethod)="filterBrands($event)"   (onSelect) = "onSelectUserName($event)" [size]="30" formControlName="name" 
                    [minLength]="1"  [dropdown]="true">
                    <ng-template let-brand pTemplate="item">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{brand}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
                </td>
              </tr>
              <tr style="text-align:center;width:300px;height: 60px">
                <td style="text-align:left;">
                  <b style="font-family: Courier New;font-size:15px">Management</b>
                </td>
                <td style="align-self: center;width: 150px;" >
                    <p-checkbox name="group1" value="management" binary="true" [ngModel]="selectedCategories" formControlName="management"></p-checkbox>
                </td>
                <td style="text-align:left;width:300px;height: 60px">
                  <b style="font-family: Courier New;font-size:15px">Develop</b>
                </td>
                <td style="align-self: center">
                    <p-checkbox name="group1" value="develop" binary="true" [ngModel]="selectedCategories" formControlName="develop"></p-checkbox>
                </td>
              </tr>
              <tr style="text-align:center;">
                <td style="text-align:left;width:300px;height: 60px">
                  <b style="font-family: Courier New;font-size:15px">User Types Manager</b>
                </td>
                <td style="align-self: center">
                    <p-checkbox name="group1" value="userTypeManager" binary="true" [ngModel]="selectedCategories" formControlName="userTypeManager"></p-checkbox>
                </td>
                <td style="text-align:left;width:300px;height: 60px">
                  <b style="font-family: Courier New;font-size:15px">User Manager</b>
                </td>
                <td style="align-self: center">
                    <p-checkbox name="group1" value="userManager" binary="true" [ngModel]="selectedCategories" formControlName="userManager"></p-checkbox>
                </td>
              </tr>
              <tr style="text-align:center;">
                <td style="text-align:left;width:300px;height: 60px">
                  <b style="font-family: Courier New;font-size:15px">Profile Manager</b>
                </td>
                <td style="align-self: center">
                    <p-checkbox name="group1" value="profileManager" binary="true" [ngModel]="selectedCategories" formControlName="profileManager"></p-checkbox>
                </td>
                <td style="text-align:left;width:300px;height: 60px">
                  <b style="font-family: Courier New;font-size:15px">Input Source Manager</b>
                </td>
                <td style="align-self: center">
                    <p-checkbox name="group1" value="inputSourceManager" binary="true" [ngModel]="selectedCategories" formControlName="inputSourceManager"></p-checkbox>
                </td>
              </tr>
           
              <tr>
                <td colspan="4" style="align-self: center;text-align:center;height: 50px;">
               
                </td>
              </tr>
              <br>
              <tr style="align-content: center">
                <td colspan="4" style="text-align: center">
                  <div style="align-items: center">
            
                      <button pButton type="submit" label="Submit" style="font-size: 18px" class="ui-button-raised ui-button-info"></button>
                      <button pButton type="button"   (click)="updateUserTypes(createUserTypeForm.value)"label="Update" style="font-size: 18px" class="ui-button-raised ui-button-warning"></button>
                  </div>
                </td>
              </tr>
            </table>
        </div>


      </div>
      <br>
      <br>
    </form>
    <br>
    <br>
  </div>
   <br>
   <br>
   
</div>
