
<div class="row">
  <div class="col-md-8">
     <div class="card">
        <div class="card-header">
      
      <h3>Welcome,</h3>
        </div>
      <div class="card-block">
      <p> We hope you are making progress on your project ,and we want to help. Read about our easy to use and powerful data presentation tool, xView, on Taiga and visit us on soical media. Visit us on Github as well to contirbute and use xView.</p>

      <p> We want to improve our product and get it used in as many envirnments as possible.</p>
        
      <p> Contact us at <a href="mailto:info@xops.it" target="_top">info@xops.it</a> for a demo or for any help using xView in your organization.  Avoid alert fatigue and use open source to make better business decisions and run your tech ops more efficiently. </p>
      </div>
      <div class="card-block">
      <h4> Product managers need devops, too</h4>
      <p> Product managers need devops, and devops people need product managers. There are a number of things they can do to help one another create better products more efficiently. This might seem a stretch at first but [...]</p>
      <a href="https://www.infoworld.com/blog/devops-demystified/" target="_blank">
      <button type="button" class="md-btn md-btn-raised md-btn-ripple">> SEE MORE ON THE BLOG</button>
      </a>
    </div>
      <div class="box">
        <a class="link-dark" href="https://tree.taiga.io/project/sameerhamza-xview/wiki/home" target="_blank"><img src="/assets/img/papers.jpg" width="32" height="32"title="Read the documentation" >  Read the documentation</a>
    </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
    
        <h3>Join our communities on the web</h3>
      </div>
     <div class="card-block">
        <p>Communicate with us through Slack, Facebook, and Twitter, and contribute to xView on GitHub</p>
     </div>
     <div class="link-box">
   <div class="link-column">
      <a class="link" href="https://github.com/xoperations/xView" target="_blank"><img src="/assets/img/social_gh.jpg" width="32" height="32"title="GitHub" >  GitHub</a>
      <a class="link" href="https://www.facebook.com/xOpsArmy/" target="_blank"><img src="/assets/img/social_fb.jpg" width="32" height="32"title="Facebook" >  Facebook</a>
      <a class="link" href="https://github.com/xoperations/xView" target="_blank"><img src="/assets/img/social_so.jpg" width="32" height="32"title="Stack Overflow" >  Stack Overflow</a>

 </div>
      <div class="link-column">
     <a class="link" href="https://coffeeops.slack.com" target="_blank"><img src="/assets/img/social_slack.jpg" width="32" height="32"title="Slack" >  Slack</a>
     <a class="link" href="https://twitter.com/xops?lang=en" target="_blank"><img src="/assets/img/social_twitter.jpg" width="32" height="32"title="Twitter" >  Twitter</a>
 </div>
 <div class="link-column">
     <div class="box">
        <p>Subscibe to receive more information!</p>
      <div class="footer">
        <form action="">
          <input type="text" placeholder="Enter your email here"/>
        </form>
        <button class="btn-submit">submit</button>
      </div>
     </div>
</div>
</div>
</div>
</div>
</div>


