$md-btn-color: #000D54;

.shrink-wrapper{
  transform: scale(0.8);
  transform: translate(-161.6,-237);
  }
.link-column {
  display: flex;
  flex-direction: column;
  flex: 25%;
  float: left;
}
.link-column-dark{
  display: flex;
  flex-direction: column;
  flex: 50%;
  float: left;
}
.link-box{
  display:flex;
  flex:50;
  padding-left:1.25rem;
}

.link{
  float:left;
  padding-bottom:30px;
  float:left;
}
.link-dark{
  float:left;
  margin:1.25rem;
  float:left;
  background: #F0F0F0;  
}

.box{
  flex:50%;
  margin:1.25rem;
  padding:1.25rem;
  background: #F0F0F0;
  float:center;
}
.card-header{
  background: white;
}

.md-btn {
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border:0;
  border-radius: 2px;
  background: $md-btn-color;
  color:#fff;
  outline:0;
  &:focus {
    background: darken($md-btn-color, 12%)  
  }
}

.md-btn-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  
  &:active {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12),
                  0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }
}

/*
 Ripple
*/
.md-btn-ripple {
  overflow: hidden;
  position: relative;
}

.md-btn-ripple:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: rgba(255,255,255,0.3);
  border-radius: 100%;
  transform: scale(0);
}

@keyframes md-btn-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.md-btn-ripple:not(:active):after {
  animation: md-btn-ripple 0.6s ease-out;
}

.md-btn-ripple:after {
  visibility: hidden;
}

.md-btn-ripple:focus:after {
  visibility: visible;
}

.item-links {background:white;width:944px;height:200px;padding-left:30px;padding-bottom:30px;margin:1rem;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
.link {float: left;padding-bottom:30px;float:left;}

  
.footer{
  display: flex;
  justify-content: space-between;
  float: bottom;
}
  
.footer form{
  flex-grow:1;
  display:flex;
}


.footer input{
  background: #E0E5EC;
  border:none;
  padding: 20px 25px;
  flex-grow:2;
  color :#5C7698;
}
  
.footer .btn-submit{
  background :#C6CFDC;
  border: none;
  padding: 20px;
  flex-grow: 1;
  color: #5C7698;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}


