.cutom-wrapper {
    background-image: url('/assets/img/xViewtechcontent.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    padding-top:10px;
    left: 0;
    margin-left:10px;
    min-height: 190vh;
    min-width: 160vh;
    width: 59em; 
      }