a, a:hover {
    color: #047a9c;
    text-decoration: none;
}

html {
    height: 100vh;
}

body > div {
  height: 100vh !important;
}

/* APP IS THE ELEMENT OUR REACT APPLICATION RENDERED INTO */
#app {
    height: 100vh;
}

.root-container {
    height: 100%;
}

.nm {
    margin: 0 !important;
}

.np {
    padding: 0 !important;
}

hr {
    border: 1px solid #e8e8e8;
    margin-top: 15px 0;
}

.popover-content {
    padding: 0 !important;
}

.app-container {
    bottom: 0;
    height:100vh;
    position: relative;
    width: 100%;
}

.page-container {
    background-color: #060d23;
    flex-grow: 1;
    padding: 25px;
    height: 200vh;
}

/* OVERRIDING REACT-BOOTSTRAP COLLAPSIBALE PANNEL PANNEL BODY */
.panel-body {
    padding: 0 !important;
}

.screen-readers-only {
    height: 1px;
    left: -999px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    .app-container {
        min-height: calc(~"100% - 40px");
    }
}

@media only screen and (max-width: 480px) {
    .page-container {
        float: left;
        width: 100%;
    }

    .app-container {
        right: 0;
    }
}

@media only screen and (min-width: 481px) {
    .app-container {
        display: flex;
    }
}

body {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #282828;
}

.fill-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.h-centered {
    margin: auto;
}


