<div class="wrapper">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-messages [(value)]="msgs"></p-messages>

      <p-growl [value]="msgs2"></p-growl>
      
  <p-confirmDialog></p-confirmDialog>
      <h3>Add Data Sources</h3>
    </div>

    <div class="ui-g-12">
      <p-dropdown [options]="services" id="servicename" [autoWidth]="true" [(ngModel)]="selectedService">
      </p-dropdown>
    </div>

    <div *ngIf="selectedService=='Select'">
    </div>
    <div class="ui-g-6">
      <!-- Twitter -->
      <form #twitterConfigForm="ngForm" (ngSubmit)="addAccountService(twitterConfigForm.value)">
        <div *ngIf="selectedService=='twitter'">


          <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="account_name" placeholder="account name" name="account_name" class="form-control"
            />
          </div>
          <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="consumer_key" placeholder="consumer key" name="consumer_key" class="form-control"
            />
          </div>
          <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="consumer_secret" placeholder="consumer secret" name="consumer_secret" class="form-control"
            />
          </div>
          <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="access_token" placeholder="access token" name="access_token" class="form-control"
            />
          </div>
          <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="access_token_secret" placeholder="access token secret" name="access_token_secret"
              class="form-control" />
          </div>
          <div class="ui-g-12 ">
            <button pButton type="submit" class="form-control" label="Add account"></button>
          </div>
        </div>
      </form>
    </div>

    <div class="ui-g-6"></div>

    <div class="ui-g-6">
      <!-- ServiceNow -->
      <form #serviceNowConfigForm="ngForm" (ngSubmit)="addAccountService(serviceNowConfigForm.value)">
        <div *ngIf="selectedService=='servicenow' ">

          <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="account_name" placeholder="account name" name="account_name" class="form-control"
            />
          </div>
          <div class="ui-g-12">
            <input type="text " pInputText [(ngModel)]="url" placeholder="url" name="url" class="form-control" />
          </div>
          <div class="ui-g-12">
            <input type="text " pInputText [(ngModel)]="apiKey" placeholder="api Key" name="apiKey" class="form-control" />
          </div>
          <div class="ui-g-12">
            <input type="text " pInputText [(ngModel)]="username" placeholder="user name" name="username" class="form-control" />
          </div>
          <div class="ui-g-12">
            <input type="password " pInputText [(ngModel)]="password" placeholder="password" name="password" class="form-control" />
          </div>
          <div class="ui-g-12 ">
            <button pButton type="submit" class="form-control" label="Add account"></button>
          </div>
        </div>
      </form>
    </div>

    <div class="ui-g-6"></div>

    <div class="ui-g-6">
      <!-- New Relic -->
      <form #newRelicConfigForm="ngForm" (ngSubmit)="addAccountService(newRelicConfigForm.value)">
        <div *ngIf="selectedService=='newrelic' ">

          <div class="ui-g-12">
            <input type="text" pInputText [(ngModel)]="account_name" placeholder="account name" name="account_name" class="form-control"
            />
          </div>
          <div class="ui-g-12 ">
            <input type="text " pInputText [(ngModel)]="api_key" placeholder="api key" name="api_key" class="form-control" />
          </div>
          <div class="ui-g-12 ">
            <input type="text " pInputText [(ngModel)]="query_key" placeholder="query key" name="query_key" class="form-control" />
          </div>
          <div class="ui-g-12 ">
            <button pButton type="submit" class="form-control" label="Add account"></button>
          </div>
        </div>
      </form>

    </div>
    <div class="ui-g-6"></div>
  </div>

</div>


<div class="wrapper" style="margin-top: 10px">
  <div class="ui-g">
    <div class="ui-g-12">
      <h3>Manage Data Sources</h3>
    </div>
    <div class="ui-g-6">
      <table style="width:100% ">
        <tr *ngFor="let srv of existingtenantData.services; let i=index ">
          <th>{{srv.account_name}}</th>

          <!-- Start of Dilaog box to Edit Services -->
       

          <th><button type="button" (click)="showDialog(srv)" pButton icon="fa-external-link-square" label="Edit"></button></th>
          <th><button type="button" (click)="deleteService(i)" pButton icon="fa-trash" label="Delete"></button></th>
        </tr>
      </table>
      <p-dialog [(visible)]="display" modal="modal" width="300" [responsive]="true">
        <p-header closable="true">
      {{  edit_account_name}}
        </p-header>
        <div class="wrapper">

          <div class="ui-g">
            <div class="ui-g-12">
              <!-- Twitter -->
              <form #edittwitterConfigForm="ngForm" (ngSubmit)="editService(edittwitterConfigForm.value)">
                <div *ngIf="selectedServiceToEdit=='twitter'">

                  <div class="ui-g-12">
                    <input type="text" pInputText [(ngModel)]="edit_account_name" placeholder="account name" name="edit_account_name" class="form-control" disabled
                    />
                  </div>
                  <div class="ui-g-12">
                    <input type="text" pInputText [(ngModel)]="edit_consumer_key" placeholder="consumer key" name="edit_consumer_key" class="form-control"
                    />
                  </div>
                  <div class="ui-g-12">
                    <input type="text" pInputText [(ngModel)]="edit_consumer_secret" placeholder="consumer secret" name="edit_consumer_secret" class="form-control"
                    />
                  </div>
                  <div class="ui-g-12">
                    <input type="text" pInputText [(ngModel)]="edit_access_token" placeholder="access token" name="edit_access_token" class="form-control"
                    />
                  </div>
                  <div class="ui-g-12">
                    <input type="text" pInputText [(ngModel)]="edit_access_token_secret" placeholder="access token secret" name="edit_access_token_secret"
                      class="form-control" />
                  </div>
                  <p-footer>
                      <div class="ui-g-12 ">
                        <button pButton type="submit" class="form-control" label="Edit Account"></button>
                      </div>
                    </p-footer>

                </div>
              </form>
            </div>


            <div class="ui-g-12">
              <!-- ServiceNow -->
              <form #editserviceNowConfigForm="ngForm" (ngSubmit)="editService(editserviceNowConfigForm.value)">
                <div *ngIf="selectedServiceToEdit=='servicenow'">

                  <div class="ui-g-12">
                    <input type="text" pInputText [(ngModel)]="edit_account_name" placeholder="account name" name="edit_account_name" class="form-control" disabled
                    />
                  </div>
                  <div class="ui-g-12">
                    <input type="text " pInputText [(ngModel)]="edit_url" placeholder="url" name="edit_url" class="form-control" />
                  </div>
                  <div class="ui-g-12">
                    <input type="text " pInputText [(ngModel)]="edit_apiKey" placeholder="api Key" name="edit_apiKey" class="form-control" />
                  </div>
                  <div class="ui-g-12">
                    <input type="text " pInputText [(ngModel)]="edit_username" placeholder="user name" name="edit_username" class="form-control" />
                  </div>
                  <div class="ui-g-12">
                    <input type="password " pInputText [(ngModel)]="edit_password" placeholder="password" name="edit_password" class="form-control" />
                  </div>
                  <p-footer>
                      <div class="ui-g-12 ">
                        <button pButton type="submit" class="form-control" label="Edit Account"></button>
                      </div>
                    </p-footer>
                </div>
              </form>
            </div>


            <div class="ui-g-12">
              <!-- New Relic -->
              <form #editnewRelicConfigForm="ngForm" (ngSubmit)="editService(editnewRelicConfigForm.value)">
                <div *ngIf="selectedServiceToEdit=='newrelic'">

                  <div class="ui-g-12">
                    <input type="text" pInputText [(ngModel)]="edit_account_name" placeholder="account name" name="edit_account_name" class="form-control" disabled
                    />
                  </div>
                  <div class="ui-g-12 ">
                    <input type="text " pInputText [(ngModel)]="edit_api_key" placeholder="api key" name="edit_api_key" class="form-control" />
                  </div>
                  <div class="ui-g-12 ">
                    <input type="text " pInputText [(ngModel)]="edit_query_key" placeholder="query key" name="edit_query_key" class="form-control" />
                  </div>
                  <p-footer>
                    <div class="ui-g-12 ">
                      <button pButton type="submit" class="form-control" label="Edit Account"></button>
                    </div>
                  </p-footer>
                </div>
           
              </form>
            </div>

          </div>

        </div>
       
      </p-dialog>
      <!-- End of Dilaog box to Edit Services -->
    </div>
  </div>
</div>