#SnowDashboard{
    padding: 0 5%;
}
hr{
  background: #ddd;
  margin: 0;
  margin-bottom: 10px;
}

.cp-inc{
  padding:2px 5px 4px;
  margin-bottom: 10px;
  font-weight: bold;
}

.cp-inc .badge{
  margin-right: 4px;
}

.pcounts .count{
  float: left;
  text-align: center;
  width: 25%;
  font-weight: bold;
}

.pcounts .count .p1{
  background: #a94442;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #fff;
}
.pcounts .count .p2{
  background: #d9534f;
  color: #fff;
}
.pcounts .count .p3{
  background: #f0ad4e;
  color: #fff;
}
.pcounts .count .p4{
  background: #5cb85c;
  color: #fff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.ocounts .count{
  float: left;
  text-align: center;
  width: 75%;
  font-weight: bold;
}

.ocounts .count .other{
  background: #f5f5f5;
  border-radius:5px;
  border:1px solid #888;
}

.duration-switch{
  text-align: right;
  padding-top: 5px;
  font-size: 90%;
}

.link-wrap{
  padding:10px 0;
}
