<div class="wrapper">
  <div class="container">
    <div class="row">
      <div id="login" class="signup2">
        <div [ngClass]="stage1 == true ? 'over-popup' :'over' ">
          <div >1</div>
          <div style="font-size:20px;color:white;margin-top:-25px">Account</div>
        </div>
        <div [ngClass]="stage2 == true ? 'over-popup' :'over' ">
          <div >2</div>
          <div style="font-size:20px;color:white;margin-top:-25px">Organization</div>
        </div>
        <div [ngClass]="stage3 == true ? 'over-popup' :'over' "> <div >3</div>
        <div style="font-size:20px;color:white;margin-top:-25px">Data</div></div>
      </div>
      <div class="col-md-12 m-x-auto pull-xs-none vamiddle">
        
        <div id="login" class="signup" style="height: 100%;">
          <div *ngIf="stage1">
            <form  style="padding-top: 90px" [formGroup]="createAccountForm" (ngSubmit)="OnStage1Completion(createAccountForm.value)">
              <div class="ui-g">
                <div class="ui-g-12">
                  <h1>Register Account</h1>
                  <p>Already have and account ? <a href="">Login now</a></p>
                  <div class="ui-g-8">
                    <!-- <button class="loginBtn loginBtn--google">
                    Continue with Google
                    </button> -->
                  </div>
                  <div class="ui-g-8">
                  </div>
                  <div class="form-group">
                    <input pInputText type="text" [(ngModel)] = "uname" [value]="username" placeholder="Name" class="form-control" formControlName="username" />
                    <div class="alert" *ngIf="createAccountForm.get('username').hasError('required') && createAccountForm.get('username').dirty">
                      Oops, please provide a name!
                    </div>
                    <div class="alert" *ngIf="createAccountForm.get('username').hasError('minlength')  && createAccountForm.get('username').dirty">
                      Name should have atleast 4 characters!
                    </div>
                  </div>
                  <div class="form-group">
                    <input pInputText placeholder="Email"  type="text" class="form-control" formControlName="email" />
                    <div class="alert" *ngIf="createAccountForm.get('email').hasError('required')  && createAccountForm.get('email').dirty">
                      Oops, please provide a email!
                    </div>
                    <div class="alert" *ngIf="createAccountForm.get('email').hasError('pattern')  && createAccountForm.get('email').dirty">
                      invalid email address!
                    </div>
                  </div>
                  <div class="form-group">
                    <input pInputText type="password" placeholder="Password" class="form-control" formControlName="password" id="password" [formGroup]="createAccountForm"
                    />
                    <div class="alert" *ngIf="createAccountForm.get('password').hasError('required')  && createAccountForm.get('password').dirty">
                      Password is required!
                    </div>
                  </div>
                  <div class="form-group">
                    <input pInputText type="password" placeholder="Confirm Password" class="form-control" formControlName="cnfmpassword" id="cnfmpassword"
                    [formGroup]="createAccountForm" />
                    <div class="alert" *ngIf="createAccountForm.controls.cnfmpassword.errors?.MatchPassword">Password not match</div>
                  </div>
                  <div class="ui-g-12">
                    <button pButton type="submit" label="Register" class="form-control"></button>
                  </div>
                  <div class="ui-g-12">
                    Or
                  </div>                 
                  
                </div>
              </div>
            </form>
            <div class="ui-g-12">
               
           
            <input type="hidden" [ngModel]="user" *ngIf="signInTrigger(user)==user"/>
                <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()" style="width: 100%"><span class="fa fa-google" style="padding-right: 10px"></span>login with Google</button>
                  </div>
                  <div class="ui-g-12">
                    We're serious about your privacy! Please make sure to check out our <a href="">terms of service</a> and
                    <a href="">privacy policy</a>
                  </div>
          </div>
          <div *ngIf="stage2">
            <form style="padding-top: 90px" [formGroup]="organizationInfoForm" (ngSubmit)="OnStage2Completion(organizationInfoForm.value)">
              <div class="ui-g">
                <div class="ui-g-12">
                  <h1>Add Organization</h1>
                  <div class="form-group">
                    <b>To join an existing organization add organization ID.</b>
                  </div>
                  <div class="form-group">
                      <div class="alert" *ngIf="tenantexist">
                          Oops,That Tenant id doesnt exist
                      </div>
                    <input pInputText type="text" placeholder="Organization ID" class="form-control" [ngModel]="orgaddress" (ngModelChange)="onchangeorgid($event)"
                    formControlName="existingtenant" id="existingtenant" [formGroup]="organizationInfoForm" />
                  </div>
                  <div *ngIf="stat">
                    <div class="form-group">
                      <b><a href = "">Help I don't know my organization ID!</a></b>
                    </div>
                    <div class="form-group">
                      Or
                    </div>
                    <div class="form-group">
                      Add a new organization
                    </div>
                    <div class="form-group">
                      <input pInputText type="text" placeholder="Organization name" class="form-control" formControlName="tenant" id="tenant" [formGroup]="organizationInfoForm">
                    </div>
                  </div>
                  <div class="form-group">
                    <button pButton type="submit" class="form-control" label="Continue"></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="stage3">
            <form style="padding-top: 90px" [formGroup]="configureServicesForm" (ngSubmit)="OnStage3Completion(configureServicesForm.value)">
              <div class="ui-g">
                <div class="ui-g-12">
                  <div class="ui-g-12">
                    <h1>Configure Data Sources</h1>
                  </div>
                  <div class="ui-g-6">
                    <p-dropdown [options]="services" formControlName="servicename" id="servicename" [formGroup]="configureServicesForm" [autoWidth]="true"
                    [(ngModel)]="selectedService"></p-dropdown>
                  </div>
                  <!-- Select  -->
                  <div *ngIf="selectedService=='Select'">
                  </div>
                  <!-- Twitter -->
                  <form [formGroup]="twitterConfigForm">
                    <div *ngIf="selectedService=='twitter'">
                      <div class="ui-g-6">
                        <button pButton type="button" class="round-button" label="+" (click)=addservice(twitterConfigForm._value)></button>
                      </div>
                      <div class="ui-g-4">
                        Consumer key:
                      </div>
                      <div class="ui-g-8">
                        <input type="text" pInputText formControlName="consumer_key" class="form-control" />
                      </div>
                      <div class="ui-g-4">
                        Consumer secret:
                      </div>
                      <div class="ui-g-8">
                        <input type="text" pInputText formControlName="consumer_secret" class="form-control" />
                      </div>
                      <div class="ui-g-4">
                        Access token:
                      </div>
                      <div class="ui-g-8">
                        <input type="text" pInputText formControlName="access_token" class="form-control" />
                      </div>
                      <div class="ui-g-4">
                        Access token secret:
                      </div>
                      <div class="ui-g-8">
                        <input type="text" pInputText formControlName="access_token_secret" class="form-control" />
                      </div>
                      
                    </div>
                  </form>
                  <!-- ServiceNow -->
                  <form [formGroup]="serviceNowConfigForm ">
                    <div *ngIf="selectedService=='servicenow' ">
                      <div class="ui-g-6 ">
                        <button pButton type="button " class="round-button" label="+"  (click)=addservice(serviceNowConfigForm._value)></button>
                      </div>
                      <div class="ui-g-4 ">
                        URL:
                      </div>
                      <div class="ui-g-8 ">
                        <input type="text " pInputText formControlName="url" class="form-control" />
                      </div>
                      <div class="ui-g-4 ">
                        API key:
                      </div>
                      <div class="ui-g-8 ">
                        <input type="text " pInputText formControlName="apiKey" class="form-control" />
                      </div>
                      <div class="ui-g-4 ">
                        Username:
                      </div>
                      <div class="ui-g-8 ">
                        <input type="text " pInputText formControlName="username" class="form-control" />
                      </div>
                      <div class="ui-g-4 ">
                        Password:
                      </div>
                      <div class="ui-g-8 ">
                        <input type="password " pInputText formControlName="password" class="form-control" />
                      </div>
                      
                    </div>
                  </form>
                  <!-- New Relic -->
                  <form [formGroup]="newRelicConfigForm ">
                    <div *ngIf="selectedService=='newrelic' ">
                      <div class="ui-g-6 ">
                        <button pButton type="button " class="round-button" label="+" (click)=addservice(newRelicConfigForm._value)></button>
                      </div>
                      <div class="ui-g-4 ">
                        API key:
                      </div>
                      <div class="ui-g-8 ">
                        <input type="text " pInputText formControlName="api_key" class="form-control" />
                      </div>
                      <div class="ui-g-4 ">
                        Query key
                      </div>
                      <div class="ui-g-8 ">
                        <input type="text " pInputText formControlName="query_key" class="form-control" />
                      </div>
                      
                    </div>
                  </form>
                  <!-- Added services -->
                  <div class="ui-g-8 ">
                    <table style="width:100% ">
                      <tr *ngFor="let alert of tenantData.services; let i=index ">
                        <th>{{alert.service}}</th>
                        <th><button pButton type="button" (click)="removeConfiguration(i) " icon="fa fa-close fa-fw "></button></th>
                      </tr>
                    </table>
                  </div>
                  <div class="ui-g-6 ">
                    <button pButton type="submit" class="form-control" label="Skip this step " (click)="skipSerivceConfigurations()"></button>
                  </div>
                  <div class="ui-g-6 ">
                    <button pButton type="submit" class="form-control" label="Finish Setup! "></button>
                  </div>
                </div>
                <div class="ui-g-4 ">
                </div>
              </div>
            </form>
          </div>

          <div *ngIf="stage5">
            <form style="padding-top: 90px" [formGroup]="configureServicesForm" (ngSubmit)="OnStage3Completion(configureServicesForm.value)">
              <div class="ui-g">
                <div class="ui-g-12">
                  <div class="ui-g-12">
                    <h1>Your Account Request has been Submitted </h1>
                  </div>
                  <div class="ui-g-12">
                  <p>You will be able to log in to your account Once an Admin approvees Your request.</p>
                  </div>
                </div>
                <div class="ui-g-12">
                    <button pButton type="submit"  (click)="backtologin()" class="form-control" label="Back to Login"></button>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>