<a routerLink="/dashboard">
  <div class="widget row">
    <div class="circle col-md-8">

    </div>
    <div class="pull-right  col-md-4">
      <div class="row" >
        <div class="small-circle col-md-6" style="margin: 5px;"></div>
        <div class="small-circle col-md-6" style="margin: 5px;"></div>
      </div>
      <div class="row">
        <div class="small-circle col-md-6" style="margin: 5px;"></div>
        <div class="small-circle col-md-6" style="margin: 5px;"></div>
      </div>
      <div class="row">
        <div class="small-circle col-md-6" style="margin: 5px;"></div>
        <div class="small-circle col-md-6" style="margin: 5px;"></div>
      </div>
    </div>
  </div>
</a>
