.widget{
  padding: 10px;
  position: relative;

  .widget-wrapper{
    background: #fff;
    padding: 10px;
    width: 100%;

    .SNalert-widget{
      height: 145px;
    }

    .widget-content{
      height: 250px;
    }
  }
}

@import '../../scss/xops.mixins';
@include alert-status('.red', #f84502);
@include alert-status('.green', #94ce19);
@include alert-status('.amber', #fac710);
.row.box-wrap{
  margin: 0;

  div{
    padding: 5px;
  }
}
