<h1 class="h2">Alerts</h1>
<div class="row row-eq-height">
  <div class="col-md-6 widget">
    <div class="widget-wrapper">
        <p-chart type="line" [data]="alert_trend?.alert_trend" height="100"></p-chart>
    </div>
  </div>

  <div class="col-md-6 widget">
    <div class="widget-wrapper">

      <div class="row box-wrap">
        <div class="col-md-4 col-xs-6">
          <div class="SNalert-widget" style="background:#ef5350">
            <div class="inner">
              <h3 [innerHTML]="widget_data?.severity_stats.critical || 0"><i class="fa fa-spinner fa-pulse fa-fw"></i></h3>
              <p>Critical</p>
            </div>
            <div class="icon">
              <i class="fa fa-exclamation-triangle"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-6">
          <div class="SNalert-widget" style="background:#ffa726">
            <div class="inner">
              <h3 [innerHTML]="widget_data?.severity_stats.warning || 0"><i class="fa fa-spinner fa-pulse fa-fw"></i></h3>
              <p>Warning</p>
            </div>
            <div class="icon">
              <i class="fa fa-exclamation-triangle"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-6">
          <div class="SNalert-widget" style="background:#00c0ef">
            <div class="inner">
              <h3 [innerHTML]="widget_data?.severity_stats.info || 0"><i class="fa fa-spinner fa-pulse fa-fw"></i></h3>
              <p>Info</p>
            </div>
            <div class="icon">
              <i class="fa fa-info-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-eq-height">
  <div class="col-md-12 widget">
    <div class="widget-wrapper primeng-popup">
      <p-dataTable #alertsTable [value]="alerts"  (onRowSelect)="onRowSelect($event)" selectionMode="single" [loading]="loading"
        [rows]="5" [paginator]="true" exportFilename="alerts">
        <p-column field="_source.color" header="Sevierity" sortable="true">
          <ng-template let-file="rowData" pTemplate="body">
            <div class="alert-status" [ngClass]="file._source.severity == '1' ? 'green' :file._source.severity == '4' ? 'red': 'amber'">
              <div class="chart-center">
              </div>
            </div>
          </ng-template>

        </p-column>
        <p-column header="Priority">
          <ng-template let-file="rowData" pTemplate="body">
            P1
          </ng-template>
        </p-column>
        <p-column field="_source.raisedTimestamp" header="Time" sortable="true">
          <ng-template let-time="rowData" pTemplate="body">
            {{time._source.raisedTimestamp | date:'hh:mma'}}<br/><small>{{time._source.raisedTimestamp | date:'MMM dd, yyyy'}}</small>
          </ng-template>
        </p-column>
        <p-column field="_source.domain" header="Domain" sortable="true"></p-column>
        <p-column field="_source.producer" header="Producer" sortable="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'200px'}"></p-column>
        <p-column field="_source.trigger" header="Alert" styleClass="truncate" sortable="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'200px'}">
          <ng-template let-file="rowData" pTemplate="body">
             {{file._source.trigger | truncate: 20}}
          </ng-template>
        </p-column>
        <p-column header="Alert Status">
          <ng-template let-file="rowData" pTemplate="body">
            New
          </ng-template>
        </p-column>
        <p-column header="Ticket Status">
          <ng-template let-file="rowData" pTemplate="body">
            New
          </ng-template>
        </p-column>
        <!--<p-column field="_source.stateTriggerId" header="stateTriggerId" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="_source.monitoredCIName" header="monitoredCIName" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="_source.eventId" header="Event Id" [filter]="true" filterPlaceholder="Search"></p-column>-->
      </p-dataTable>
      <div class="float-right">
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="alertsTable.exportCSV()"></button>
      </div>
      &nbsp;

      <div>
        <p-dialog [(visible)]="display" closable="true" draggable="false" resizable="false" modal="modal" width="900" responsive="true">
          <p-header closable="true">
            <i class="fa fa-square" [style.color]="colorval" style="font-size:22px"></i> {{title}}
            <span class="badge xops-badge">{{status}}</span>
          </p-header>
          <div style="padding: 1em; border-bottom: 1px solid #e5e5e5;">
            <div class="ui-grid-row">
              <div class="ui-grid-col-8">
                Status : <select #selectedval>
            <option *ngFor="let alertselection of alertselections" [value]="alertselection.val">{{alertselection.name}}</option>
          </select>
              </div>
              <div class="ui-grid-col-4">
                Assigned To : <input type="text" pInputText />
                <button pButton type="button" icon="fa-search" iconPos="left"></button>
              </div>
            </div>
          </div>
          <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div id="" style="overflow-y: scroll; height:300px;">
              <ng-container *ngFor="let col of cols2">
                <div class="ui-grid-row alert-row" *ngIf="col.val != '' && col.val">
                  <div class="ui-grid-col-3">{{col.head}}</div>
                  <div class="ui-grid-col-7">{{col.val}}</div>
                </div>
              </ng-container>
            </div>
          </div>

          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
              <button type="button" pButton label=Email></button>
              <button type="button" pButton style="border-radius:0;" class="ui-button-primary" (click)="onclickAsses(selectedval.value,eventid)"
                label="Save"></button>
            </div>
          </p-footer>
        </p-dialog>

      </div>

    </div>


  </div>
</div>