<h2>Custom Dashboard</h2>

<p-dialog header="Custom Dashboard" [(visible)]="display" [modal]="true" [responsive]="true" [width]="550" >
    <form (ngSubmit)="newChartFormSubmit(heroForm)" #heroForm="ngForm">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    Dasboard Name
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" [(ngModel)]="dashboardname" name="dname" #dname="ngModel" />
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    Type
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="dashboardTypesDropdown" [autoWidth]="false" [(ngModel)]="dashboardType" name="dashboardtype" #dashboardtype="ngModel" (onChange)="onDtype($event.value)"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    DataSource
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="dataSourceDropDown" [autoWidth]="false" [(ngModel)]="dataSource" name="datasource" (onChange)="onDataSourceSelect($event.value)"
                        #datasource="ngModel"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    Item
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="itemsDropdown" [autoWidth]="false" [(ngModel)]="itemName" name="itemname" (onChange)="onItemSelect($event.value)"
                        #itemname="ngModel"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    Metric
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="metricsDropdown" [autoWidth]="false" [(ngModel)]="metricName" name="metricname" (onChange)="onMetricSelect($event.value)"
                        #metricname="ngModel"></p-dropdown>
                </div>
            </div>

            <div *ngIf="displayxy">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        Y Axis Name
                    </div>
                    <div class="ui-g-8">
                        <input pInputText type="text" [(ngModel)]="yAxisName" name="yaxisname" #yaxisname="ngModel" />
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        Y Axis
                    </div>
                    <div class="ui-g-8">
                        <p-dropdown [options]="xAxisDropDown" [autoWidth]="false" [(ngModel)]="yAxis" name="yaxis" #yaxis="ngModel"></p-dropdown>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        X Axis
                    </div>
                    <div class="ui-g-8">
                        <p-dropdown [options]="yAxisDropDown" [autoWidth]="false" [(ngModel)]="xAxis" name="xaxis" #xaxis="ngModel"></p-dropdown>
                    </div>
                </div>

                <div class="ui-g-12">
                    <textarea [rows]="5" [cols]="60" pInputTextarea autoResize="autoResize" [(ngModel)]="dataArea" name="dataarea" style=""></textarea>
                </div>
            </div>

        </div>


        <p-footer>
            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        </p-footer>
    </form>
</p-dialog>


<p-dialog header="Update Dashboard" [(visible)]="display2" [modal]="true" [responsive]="true" [width]="550">
    <form (ngSubmit)="updateChartFormSubmit(heroFormUpdate)" #heroFormUpdate="ngForm">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    Dashboard ID
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" [(ngModel)]="dashboardId" name="dboardid" #dashboardid="ngModel" [readonly]="true" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    Dasboard Name
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" [(ngModel)]="upDashboardName" name="updname" #updname="ngModel" />
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    Type
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="dashboardTypesDropdown" [autoWidth]="false" [(ngModel)]="upDashboardType" name="updashboardtype" #updashboardtype="ngModel"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    DataSource
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="dataSourceDropDown" [autoWidth]="false" [(ngModel)]="dataSource" name="updatasource" (onChange)="onDataSourceSelect($event.value)"
                        #updatasource="ngModel"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    Item
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="itemsDropdown" [autoWidth]="false" [(ngModel)]="itemName" name="upitemname" (onChange)="onItemSelect($event.value)"
                        #upitemname="ngModel"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    Metric
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="metricsDropdown" [autoWidth]="false" [(ngModel)]="metricName" name="upmetricname" (onChange)="onMetricSelect($event.value)"
                        #upmetricname="ngModel"></p-dropdown>
                </div>
            </div>



            <div class="ui-g-12">
                <div class="ui-g-4">
                    Y Axis Name
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" [(ngModel)]="upyAxisName" name="upyaxisname" #upyaxisname="ngModel" />
                </div>
            </div>


            <div class="ui-g-12">
                <div class="ui-g-4">
                    Y Axis
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="yAxisDropDown" [autoWidth]="false" [(ngModel)]="upyAxis" name="upyaxis" #upyaxis="ngModel"></p-dropdown>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    X Axis
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="xAxisDropDown" [autoWidth]="false" [(ngModel)]="upxAxis" name="upxaxis" #upxaxis="ngModel"></p-dropdown>
                </div>
            </div>



            <div class="ui-g-12">
                <textarea [rows]="5" [cols]="60" pInputTextarea autoResize="autoResize" [(ngModel)]="updataArea" name="updataarea" style=""></textarea>
            </div>


        </div>


        <p-footer>
            <button type="submit" class="btn btn-success" [disabled]="!heroFormUpdate.form.valid">Update</button>
        </p-footer>
    </form>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

<div class="ui-g-4">
    <button style="font-size: 40px" (click)="showDialog()" id="createbuttonid">+</button>
</div>

<div class="ui-g-4" style="display:none">
    <button style="font-size: 40px" (click)="showUpdateDialog()" id="updatebuttonid">+</button>
</div>
<div class="ui-g-4" style="display:none">
    <button style="font-size: 40px" (click)="deleteChart()" id="deletebuttonid">+</button>
</div>
<div class="row">


</div>
<div #charts id="draggable" class="row"></div>

<!-- <input  type="text"  id="hiddentextarea" /> -->