body {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #395361;
}

.fill-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.h-centered {
    margin: auto;
}

.card {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
