.fill-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.h-centered {
    margin: auto;
}

.card {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.personalize-button {
    margin: 10px;
    width: 120px;
}

.showing{
    
}

.hiding{}

.dsh-success-message {
    top: 50px;
    z-index: 2000;
}

.heading {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FEC44F;
    font-size: 32px;
}

.chartdiv {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
}

