<link href="./assets/css/font-awesome.min.css" rel="stylesheet">
<link href="./assets/css/simple-line-icons.css" rel="stylesheet">

<!-- Main styles for this application -->
<link href="./assets/css/style.css" rel="stylesheet">
<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html"><i class="fa fa-briefcase"></i> Business insight <span class="badge badge-info"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html"><i class="fa fa-cogs "></i> Tech insight <span class="badge badge-info"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html"><i class="fa fa-bar-chart"></i> Live graphs <span class="badge badge-info"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard"><i class="fa fa-tachometer "></i>Custom dashboard<span class="badge badge-info"></span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/alert"><i class="fa fa-bell "></i> Alert management<span class="badge badge-info"></span></a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard"><i class="fa fa-bolt "></i>Incident dashboard<span class="badge badge-info"></span></a>
      </li>

    </ul>
  </nav>
</div>
