body {
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #282828;
}

#chartdiv {
  width: 100%;
  height: 100%;
}
.fill-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.h-centered {
  margin: auto;
}



