body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  color: #263238;
  background-color: #e6e6e6;
}

.app, app-dashboard, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: inherit;
  &::before, &::after {
    box-sizing: inherit;
  }
}

@-ms-viewport {
  width: device-width;
}

#chartdiv {
  width: 100%;
  height: 40%;
}

.app-header {
  flex: 0 0 55px;
}

.custom-brand-header{
  width:100%;
  height:100px;
  // background:url('/assets/partner/scholastic-banner.png') #df7f6e no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-top: 35px;
  position: absolute;
  z-index: 1000;
  
  .cust-logo{
    padding: 22px 0 0 2%;
    display: inline-block;
  }

  .head-alerts{
    ul{
      margin: 0;
      padding: 0;

      li{
        list-style: none;
        float: left;
        margin-right: 10px;
        background: rgba(249, 0, 0, 0.6);
        color: #fff;
        padding: 0 10px;
        text-align: center;
        padding-top: 10px;
        min-width: 90px;

        .count{
          font-size: 50px;
          display: block;
          line-height: 40px;
        }

        .label{
          padding: 10px 0;
          display: block;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 11px;
        }
      }
    }
  }
}

// PrimeNG Popup Styles
.primeng-popup{
  .ui-dialog-titlebar{
    font-weight: bold;
  }
  .alert-row{
    border-bottom: 1px solid #ddd;
    padding: 5px;
  }
}

.xops-badge{
  background: #900;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 12px;
}

.app-footer {
  flex: 0 0 50px;
}

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
  .main {
    flex: 1;
    min-width: 0;
  }
  .sidebar {
    flex: 0 0 200px;
    order: -1;
    font-weight: 600;
  }
  .aside-menu {
    flex: 0 0 250px;
  }
}

.pullright{
  float: right;
}

.header-fixed {
  .app-header {
    //position: fixed;
    z-index: 1020;
    width: 100%;
  }
  .app-body {
    margin-top: 0px;
  }
}

.sidebar-hidden .sidebar {
  margin-left: -200px;
}

.sidebar-fixed {
  .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    font-weight: 600;

    .nav .nav-item .nav-link i{
      color: #888;
    }
  }
  .main {
    margin-left: 200px;
    // margin-top: 90px;
  }
  .app-footer {
    margin-left: 200px;
  }
  .sidebar .sidebar-nav {
    height: calc(100vh - 10px);
    padding-top: 135px;
  }
  &.sidebar-hidden {
    .main, .app-footer {
      margin-left: 0;
    }
  }
}

//Widget Styles
.widget{
  padding: 10px;
  position: relative;

  .widget-wrapper{
    background: #fff;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: block;

    .SNalert-widget{
      height: 145px;
    }

    .widget-content{
      //height: 250px;
    }
  }
}

.app-header, .app-footer, .sidebar, .main, .aside-menu {
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
}

//--- ServiceNow Alert Widget
.SNalert-widget {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0;
  overflow: hidden;
  > .inner {
    padding: 20px;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
  }
  h3 {
    font-size: 55px;
    margin: 0;
    white-space: nowrap;
    padding: 0;
  }
  p {
    font-size: 15px;
    > small {
      display: block;
      color: #f9f9f9;
      font-size: 13px;
      margin-top: 5px;
    }
  }
  h3, p {
    z-index: 5;
  }
  .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 0;
    font-size: 120px;
    color: rgba(255, 255, 255, 0.2);
  }
  &:hover {
    text-decoration: none;
    color: #f9f9f9;
    .icon {
      font-size: 110px;
    }
  }
}

@media (max-width: 320px) {
  .SNalert-widget {
    text-align: center;
    .icon {
      display: none;
    }
    p {
      font-size: 12px;
    }
  }
}

//----- Donut Chart CSS
.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  float: right;

  .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .chart-center {
    position: absolute;
    border-radius: 50%;

    span {
      display: block;
      text-align: center;
    }
  }
}

.alert-status{
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  float: right;

  .chart-center {
    position: absolute;
    border-radius: 50%;
  }
}
