<div class="row row-eq-height">
  <div class="col-md-12 widget">
    <div class="widget-wrapper map">
      <input type="text" />
      <!-- <iframe style="width: 100%; height:900px " frameborder="0"
     src="http://35.196.113.225:5601/app/kibana#/discover?_g=()&_a=(columns:!(_source),index:'metrics-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!(timestamp,desc))"></iframe> -->
      <iframe style="width: 100%; height:900px " [src]="dashboardurl" ></iframe>
    </div>
  </div>
</div>