<link href="../../assets/css/style.css" rel="stylesheet">

<div class="card">
  <div class="card-header">
    <strong>User</strong>
    <small>Settings Form</small>
  </div>
  <div class="card-block">
    <div class="form-group">
      <label for="company">Username</label>
      <input type="text" class="form-control" id="company" placeholder="Enter your company name">
    </div>
    <div class="form-group">
      <label for="vat">Firstname</label>
      <input type="text" class="form-control" id="vat" placeholder="PL1234567890">
    </div>
    <div class="form-group">
      <label for="street">Lastname</label>
      <input type="text" class="form-control" id="street" placeholder="Enter street name">
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="Enter your city">
      </div>
      <div class="form-group col-sm-4">
        <label for="postal-code">Postal Code</label>
        <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
      </div>
    </div>
    <!--/row-->
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" id="country" placeholder="Country name">
    </div>
  </div>
</div>
