<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{usersets.picture}}" alt="User profile picture">

          <h3 class="profile-username text-center">{{usersets.name}}</h3>

          <p class="text-muted text-center">{{usersets.email}}</p>

          <ul class="list-group list-group-unbordered">

          </ul>

          <a href="#" class="btn btn-primary btn-block"><b></b></a>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <div class="card">

      <div class="card-header">
        Change Your Password
      </div>
      <div class="card-block">
        <div class="container">
          <form #changepwdForm="ngForm" *ngIf="active" (ngSubmit)="onSubmitChangepwdForm(changepwdForm)">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                <input type="password" id="password" class="form-control" placeholder="Current Password" required minlength="4" maxlength="24"
                  name="password" [(ngModel)]="somevalue1" #password="ngModel">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                <input type="password" id="newpassword" name="newpassword" class="form-control" #newpassword="ngModel" [(ngModel)]="somevalue2"
                  placeholder="New Password">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                <input type="password" id="cnfnewpassword" name="cnfnewpassword" class="form-control" placeholder="Confirm Password" #cnfnewpassword="ngModel"
                  [(ngModel)]="somevalue3">
              </div>
            </div>

            <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
              <div [hidden]="!password.errors.required">
                Password is required
              </div>
              <div [hidden]="!password.errors.minlength">
                Password must be at least 4 characters long.
              </div>
              <div [hidden]="!password.errors.maxlength">
                Password cannot be more than 24 characters long.
              </div>
            </div>
            <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)" class="alert alert-danger">
              <div>
                Password is required
              </div>
              <div [hidden]="!newpassword.errors.minlength">
                Password must be at least 4 characters long.
              </div>
              <div [hidden]="!newpassword.errors.maxlength">
                Password cannot be more than 24 characters long.
              </div>
            </div>

            <div *ngIf="(newpassword.value != cnfnewpassword.value) && (cnfnewpassword.touched)" class="alert alert-danger">
              <div>
                Password doesnt match
              </div>

            </div>
            <div class="form-group form-actions">
              <button type="submit" class="btn btn-default" [disabled]="(!changepwdForm.form.valid) || (newpassword.value != cnfnewpassword.value)">Submit</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        Settings
      </div>
      <div class="card-block">
        <div class="container">
          <div>

            <form #settingForm="ngForm" *ngIf="active" (ngSubmit)="onSubmit(settingForm)">
              <div class="form-group">
                <label for="name">Username</label>

                <input type="text" id="name" class="form-control" required minlength="4" maxlength="100" name="name" [(ngModel)]="username"
                  #name="ngModel">

                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                  <div [hidden]="!name.errors.required">
                    Username is required
                  </div>
                  <div [hidden]="!name.errors.minlength">
                    Username must be at least 4 characters long.
                  </div>
                  <div [hidden]="!name.errors.maxlength">
                    Username cannot be more than 100 characters long.
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="fullname">Full name</label>

                <input type="text" id="fullname" class="form-control" required minlength="4" maxlength="24" name="fullname" [(ngModel)]="fullnameval"
                  #fullname="ngModel">

                <div *ngIf="fullname.errors && (fullname.dirty || fullname.touched)" class="alert alert-danger">
                  <div [hidden]="!fullname.errors.required">
                    Full Name is required
                  </div>
                  <div [hidden]="!fullname.errors.minlength">
                    Full Name must be at least 4 characters long.
                  </div>
                  <div [hidden]="!fullname.errors.maxlength">
                    Name cannot be more than 24 characters long.
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label for="timezone">Timezone</label>

                <select id="timezone" name="timezone" class="form-control input-lg" size="1" [(ngModel)]="timezone">
            <option value="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" >(GMT-12:00) International Date Line West</option>
            <option value="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" >(GMT-11:00) Midway Island, Samoa</option>
            <option value="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" >(GMT-10:00) Hawaii</option>
            <option value="4" gmtAdjustment="GMT-09:00" useDaylightTime="1">(GMT-09:00) Alaska</option>
            <option value="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" >(GMT-08:00) Pacific Time (US & Canada)</option>
            <option value="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" >(GMT-08:00) Tijuana, Baja California</option>
            <option value="7" gmtAdjustment="GMT-07:00" useDaylightTime="0">(GMT-07:00) Arizona</option>
            <option value="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" >(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
            <option value="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" >(GMT-07:00) Mountain Time (US & Canada)</option>
            <option value="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" >(GMT-06:00) Central America</option>
            <option value="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" >(GMT-06:00) Central Time (US & Canada)</option>
            <option value="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" >(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
            <option value="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" >(GMT-06:00) Saskatchewan</option>
            <option value="14" gmtAdjustment="GMT-05:00" useDaylightTime="0">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
            <option value="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" >(GMT-05:00) Eastern Time (US & Canada)</option>
            <option value="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" >(GMT-05:00) Indiana (East)</option>
            <option value="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" >(GMT-04:00) Atlantic Time (Canada)</option>
            <option value="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" >(GMT-04:00) Caracas, La Paz</option>
            <option value="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" >(GMT-04:00) Manaus</option>
            <option value="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" >(GMT-04:00) Santiago</option>
            <option value="21" gmtAdjustment="GMT-03:30" useDaylightTime="1">(GMT-03:30) Newfoundland</option>
            <option value="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" >(GMT-03:00) Brasilia</option>
            <option value="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" >(GMT-03:00) Buenos Aires, Georgetown</option>
            <option value="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" >(GMT-03:00) Greenland</option>
            <option value="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" >(GMT-03:00) Montevideo</option>
            <option value="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" >(GMT-02:00) Mid-Atlantic</option>
            <option value="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" >(GMT-01:00) Cape Verde Is.</option>
            <option value="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" >(GMT-01:00) Azores</option>
            <option value="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" >(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
            <option value="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" >(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
            <option value="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" >(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
            <option value="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" >(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
            <option value="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" >(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
            <option value="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" >(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
            <option value="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" >(GMT+01:00) West Central Africa</option>
            <option value="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Amman</option>
            <option value="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Athens, Bucharest, Istanbul</option>
            <option value="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Beirut</option>
            <option value="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Cairo</option>
            <option value="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" >(GMT+02:00) Harare, Pretoria</option>
            <option value="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
            <option value="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Jerusalem</option>
            <option value="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Minsk</option>
            <option value="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" >(GMT+02:00) Windhoek</option>
            <option value="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" >(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
            <option value="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" >(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
            <option value="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" >(GMT+03:00) Nairobi</option>
            <option value="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" >(GMT+03:00) Tbilisi</option>
            <option value="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" >(GMT+03:30) Tehran</option>
            <option value="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" >(GMT+04:00) Abu Dhabi, Muscat</option>
            <option value="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" >(GMT+04:00) Baku</option>
            <option value="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" >(GMT+04:00) Yerevan</option>
            <option value="53" gmtAdjustment="GMT+04:30" useDaylightTime="0">(GMT+04:30) Kabul</option>
            <option value="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" >(GMT+05:00) Yekaterinburg</option>
            <option value="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" >(GMT+05:00) Islamabad, Karachi, Tashkent</option>
            <option value="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" >(GMT+05:30) Sri Jayawardenapura</option>
            <option value="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" >(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
            <option value="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" >(GMT+05:45) Kathmandu</option>
            <option value="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" >(GMT+06:00) Almaty, Novosibirsk</option>
            <option value="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" >(GMT+06:00) Astana, Dhaka</option>
            <option value="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" >(GMT+06:30) Yangon (Rangoon)</option>
            <option value="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" >(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
            <option value="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" >(GMT+07:00) Krasnoyarsk</option>
            <option value="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" >(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
            <option value="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" >(GMT+08:00) Kuala Lumpur, Singapore</option>
            <option value="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" >(GMT+08:00) Irkutsk, Ulaan Bataar</option>
            <option value="67" gmtAdjustment="GMT+08:00" useDaylightTime="0">(GMT+08:00) Perth</option>
            <option value="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" >(GMT+08:00) Taipei</option>
            <option value="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" >(GMT+09:00) Osaka, Sapporo, Tokyo</option>
            <option value="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" >(GMT+09:00) Seoul</option>
            <option value="71" gmtAdjustment="GMT+09:00" useDaylightTime="1">(GMT+09:00) Yakutsk</option>
            <option value="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" >(GMT+09:30) Adelaide</option>
            <option value="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" >(GMT+09:30) Darwin</option>
            <option value="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" >(GMT+10:00) Brisbane</option>
            <option value="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" >(GMT+10:00) Canberra, Melbourne, Sydney</option>
            <option value="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" >(GMT+10:00) Hobart</option>
            <option value="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" >(GMT+10:00) Guam, Port Moresby</option>
            <option value="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" >(GMT+10:00) Vladivostok</option>
            <option value="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" >(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
            <option value="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" >(GMT+12:00) Auckland, Wellington</option>
            <option value="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" >(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
            <option value="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" >(GMT+13:00) Nuku'alofa</option>
            </select>

              </div>
              <div class="form-group">
                <label for="themes">Theme</label>
                <select id="themes" name="themes" class="form-control input-lg" size="1" [(ngModel)]="theme">
                  <option value="Theme 1">Theme 1</option>
                  <option value="Theme 2">Theme 2</option>
                  <option value="Theme 3">Theme 3</option>
                  <option value="Theme 4">Theme 4</option>
                </select>
              </div>
              <div class="form-group">
                <label>Widgets</label>
                <select2 class="form-control input-lg"  [(ngModel)]="widgetval" name="widgetss" [width]="500" [data]="widgets" [options]="options"  [value]="value" (valueChanged)="changed($event)" ngDefaultControl ></select2>
              </div>
                
              <button type="submit" class="btn btn-primary" [disabled]="!settingForm.form.valid">Submit</button>
              
              <div class="form-group">
                <div *ngIf="clicked">
                  <div *ngIf="settingForm.form.valid &&  submitted" class="alert alert-success">
                    <div>
                      Form is Successfully Submitted
                    </div>
                  </div>
                  <div *ngIf="settingForm.form.valid &&  !submitted" class="alert alert-danger">
                    <div>
                      Form Not Submitted
                    </div>
                  </div>
                </div>
              </div>

            </form>
              

          </div>
        </div>
      </div>

      <div class="col-sm-6">

      </div>
    </div>

  </div>
</div>